
docs/build

src/Client.Web/bin
src/Client.Web/obj

src/API/bin
src/API/obj

src/API.Tests/bin
src/API.Tests/obj

src/Shared/bin
src/Shared/obj

src/audio-processing/metadata
src/audio-processing/out
